.animal-box-model {
  position: absolute;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  font-family: MaokenAssortedSans;

  &-mask {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.5);
  }

  &-image {
    position: absolute;
    top: 23vh;
    left: 13%;
    z-index: 99;
  }

  &-body {
    position: relative;
    z-index: 100;
    top: 50%;
    left: 50%;
    width: 80vw;
    transform: translate(-50%, -50%);
    background: #FFF;
    padding: 5vw;
    border-radius: 10px;
    text-align: left;
    opacity: 1;
    background: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    backdrop-filter: blur(10px);
    
    &-content {
      opacity: 1;
      font-size: 36px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      font-variation-settings: "opsz" auto;
      color: #444444;
    }
  }

  &-btn {
    margin-top: 5vh;
    display: flex;
  }

  &-confirm {
    border-radius: 10px;
    color: #fff !important;
    background-color: #FB963F;
  }

  &-cancel {
    border-radius: 10px;
    opacity: 1;
    background: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border: 1px solid #999999;
  }
}