@import "~taro-ui/dist/style/components/button.scss";

.create {
  height: 90%;
  margin: 40px;

  &-p {
    display: block;
    font-size: 40px;
    margin: 40px 0 20px 0;
  }

  &-content {
    min-height: 65%;
    border-radius: 15px;
  }

  &-change {
    position: absolute;
    bottom: 160px;
    right: 5%;
  }

  &-footer {
    position: absolute;
    bottom: 40px;
    width: 90%;
    display: flex;

    .at-button:first-child {
      width: 25%;
      margin-right: 40px;
    }

    .at-button:last-child {
      width: 70%;
    }
  }
}