.book-reader {
  border: 1px solid #dcdcdc;
  font-size: 36px;
  overflow-y: auto;
  padding: 20px;
  width: auto;

  .h5-h3, .h5-strong {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 48px;
  }

  .h5-p, p, h3, h2, h1 {
    margin-bottom: 48px;
  }
}