@import "~taro-ui/dist/style/components/button.scss";
.detail {
  height: 90%;
  margin: 40px;
  display: flex;
  flex-direction: column;

  &-content {
    flex: 1;
    margin-bottom: 32px;
  }

  &-btn {
    display: flex;

    &1 {
      width: 30%;
      margin-right: 32px;
    }
    &2 {
      flex: 1;
    }
  }

  .poster-share__content {
    // position: absolute;
    // right: -9999px;
    // top: -9999px;
    // width: 560px;
    // height: 852px;
    // opacity: 0;
    // z-index: -1;
  
    &--img {
      width: 100%;
      height: 100%;
    }
  
    &--cvs {
      width: 100%;
      height: 100%;
    }
  }
}